@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema Biblioteca</h1>
    <h3>@ViewData["mensagem"]</h3>    
    <p>Use o menu superior para navegar.</p>
</div>
